@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #ebb0aa;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

}

h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size:50px;
  letter-spacing: 5px;
}

h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

/* Loader */
.loader{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.loader img {
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* Image Container */
.image-container{
  margin:10px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, .9);
}

/* Media Query: Large Smartphone */
@media screen and (max-width:600px){
  h1 {
    font-size: 20px;
  }
  .image-container{
    margin: 10px;
  }
}